pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
scipy==1.14.1
mlflow==3.15.1
evidently==0.7.21
psycopg[binary]==3.2.3
sqlalchemy==2.0.36
dvc==3.55.2
dvc-s3==3.2.0
pathspec==0.12.1
boto3==1.43.56
fastapi==0.115.5
uvicorn[standard]==0.32.1
pydantic==2.9.2
httpx==0.27.2
streamlit==1.40.1
plotly==5.24.1
groq==0.11.0
logfire==2.6.1
pytest==8.3.3
ruff==0.7.4
python-dotenv==1.0.1
pyyaml==6.0.2